extends layout.pug 

block content
    header.header.header-bgi-facilities
        include components/header
    main.facilities.flex.flex-fd-col.flex-ai-c.flex-jc-sa
        .facilities__textBlock
            h3 FACILITIES
            p We want your stay at our lush hotel to be truly unforgettable.  That is why we give special attention to all of your needs so 
                | that we can ensure an experience quite uniquw. Luxury hotels offers the perfect setting with stunning views for leisure
                | and our modern luxury resort facilities will help you enjoy the best of all. 
        .facilities__card
            .facilities__card__photo.image-gym
                .facilities__card__title THE GYM
        include components/testis
    include components/footer