// Reset
html {
    font-size: 100%;
    box-sizing: border-box;
}

body {
    width: 99vw;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

// Flexbox
.flex {
    display: flex;

    &-jc-sb  {
        justify-content: space-between;
    }

    &-jc-sa {
        justify-content: space-around;
    }

    &-jc-c   {
        justify-content: center;
    }

    &-ai-c   {
        align-items    : center;
    }

    &-fd-col {
        flex-direction : column;
    }
}

// Headers Background
.header-bgi-home,
.header-bgi-facilities,
.header-bgi-rooms {
    background-color: $primary30;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: color;
}
.header-bgi-home {
    background-image: url('../images/background-home.jpg');
}
.header-bgi-facilities {
    background-image: url('../images/background-facilities.jpg');
}
.header-bgi-rooms {
    background-image: url('../images/background-rooms.jpg');
}

// BUTTONS HOVER
.btn-hover {
    transition: background-color .3s ease-out;
    &:hover {
        background-color: #e9ad46;
    }
}

// FOOTER SOCIAL ICONS
.icon-facebook, .icon-twitter, .icon-instagram {
    width: 19px;
    height: 19px;
    background-repeat: no-repeat;
    padding-right: 35px;
}
.icon-facebook {
    background-image: url('../images/icon-facebook.svg');
}
.icon-twitter {
    background-image: url('../images/icon-twitter.svg');
}
.icon-instagram {
    background-image: url('../images/icon-instagram.svg');
}