// Reset
html {
    font-size: 100%;
    box-sizing: border-box;
}

body {
    width: 99vw;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

// Flexbox
.flex {
    display: flex;

    &-jc-sb  {
        justify-content: space-between;
    }

    &-jc-sa {
        justify-content: space-around;
    }

    &-jc-c   {
        justify-content: center;
    }

    &-ai-c   {
        align-items    : center;
    }

    &-fd-col {
        flex-direction : column;
    }
}

// Headers Background
.header {
    &-bgi-gome,
    &-bgi-facilities,
    &-bgi-rooms {
        background-color: $primary30;
        background-repeat: no-repeat;
        background-size: cover;
        background-blend-mode: color;
    }
    &-bgi-home {
        background-image: url('../images/background-home.jpg');
    }
    &-bgi-facilities {
        background-image: url('../images/background-facilities.jpg');
    }
    &-bgi-rooms {
        background-image: url('../images/background-rooms.jpg');
    }
}

// BUTTONS HOVER
.btn-hover {
    transition: background-color .3s ease-out;
    &:hover {
        background-color: #e9ad46;
    }
}

// FOOTER SOCIAL ICONS
.icon {
    &-facebook,
    &-twitter,
    &-instagram {
        width: 19px;
        height: 19px;
        background-repeat: no-repeat;
        padding-right: 35px;
    }
    &-facebook {
        background-image: url('../images/icon-facebook.svg');
    }
    &-twitter {
        background-image: url('../images/icon-twitter.svg');
    }
    &-instagram {
        background-image: url('../images/icon-instagram.svg');
    }
}

// FACILITIES CARD IMAGES
.image {
    
    &-gym {
        background-image: url('../images/facilities-gym.jpg');
    }
    &-poolsideBar {
        background-image: url('../images/facilities-poolside-bar.jpg');
    }
    &-spa {
        background-image: url('../images/facilities-spa.jpg');
    }
    &-swimPool {
        background-image: url('../images/facilities-swim-pool.jpg');
    }
    &-restaurant {
        background-image: url('../images/facilities-restaurant.jpg');
    }
    &-laundry {
        background-image: url('../images/facilities-laundry.jpg');
    }
}