footer.footer.flex.flex-jc-sa
    .footer__contacts
        .footer__contacts__minilogo
            h4 LUXURY
            p HOTELS
        .footer__contacts__contact.flex.flex-fd-col
            address 497 Evergreen Rd. Roseville, CA 95673
            a(href="tel:+44 345 678 903") +44 345 678 903
            a(href="mailto:luxury_hotels@gmail.com") luxury_hotels@gmail.com
    ul.footer__links
        li
            a(href="/about-us") About Us
        li
            a(href="/contact") Contact
        li
            a(href="/terms-and-conditions") Terms &amp; Conditions
    ul.footer__social
        li
            a.footer__social__link.flex(href="http://facebook.com") Facebook
                .icon-facebook
        li
            a.footer__social__link.flex(href="http://twitter.com") Twitter
                .icon-twitter
        li
            a.footer__social__link.flex(href="http://instagram.com") Instagram
                .icon-instagram
    .footer__subscribe
        h5 Subscribe to our newsletter
        form
            input(type="email" name="email" placeholder="Email Address")
            button(type="submit") OK
            