footer.footer
    .footer__contacts
        .footer__contacts__logo
        .footer__contacts__contact
    ul.footer__links
        li
            a(href="/about-us") About Us
        li
            a(href="/contact") Contact
        li
            a(href="/terms-and-conditions") Terms &amp; Conditions
    ul.footer__social
        li
            a.footer__social__link(href="http://facebook.com") Facebook
                .icon-facebook
        li
            a.footer__social__link(href="http://twitter.com") Twitter
                .icon-twitter
        li
            a.footer__social__link(href="http://instagram.com") Instagram
                .icon-instagram
    .footer__subscribe
        h5.footer__subscribe__title Subscribe to our newsletter
        form.footer__subscribe__form
            input(type="email" name="email")
            button(type="submit") OK
            