header.header.header-bgi-home
    .header-wrapper.flex.flex-jc-sb.flex-fd-col
        nav.flex.flex-jc-sb.flex-ai-c
            .header__logo.flex.flex-jc-c.flex-fd-col.flex-ai-c
                h1.header__logo__title LUXURY
                p.header__logo__subtitle HOTELS
            ul.header__links.flex.flex-jc-sb
                li
                    a.header__links__link(href="/") Home
                li
                    a.header__links__link(href="/facilities") Facilities
                li
                    a.header__links__link(href="/rooms") Rooms
                li
                    a.header__links__link(href="/contact-us") Contact-us
        .header__headline
            h3.header__headline__overtitle WELCOME TO
            h1.header__headline__title LUXURY
            h3.header__headline__subtitle HOTELS
            p Book your stay and enjoy Luxury
            p redefined at the most affordable rates.
        .header__button.flex.flex-jc-c
            button.header__button__bookNow.flex.flex-jc-c.flex-ai-c BOOK NOW
        .header__button.flex.flex-jc-c
            button.header__button__scroll.flex.flex-fd-col.flex-ai-c Scroll