.header-wrapper.flex.flex-jc-sb.flex-fd-col
    include header/header-nav
    .header__headline
        h3.header__headline__overtitle WELCOME TO
        h1.header__headline__title LUXURY
        h3.header__headline__subtitle HOTELS
        p Book your stay and enjoy Luxury
        p redefined at the most affordable rates.
    .header__button.flex.flex-jc-c
        button.header__button__bookNow.btn-hover.flex.flex-jc-c.flex-ai-c BOOK NOW
    .header__button.flex.flex-jc-c
        button.header__button__scroll.flex.flex-fd-col.flex-ai-c#scroll-btn Scroll