.testis.flex.flex-fd-col.flex-jc-sb.flex-ai-c
    h5.testis__title Testimonials
    p.testis__textCite "Calm, Serene, Retro – What a way to relax and enjoy"
    p.testis__authorCite  Mr. and Mrs. Baxter, UK
    .slider.flex.flex-jc-sb
        button.slider__btn.leftArrow.btn-hover
        button.slider__btn.rightArrow.btn-hover