@import 'card';
@import 'testis';
@import 'slider';

.card__text__title,
.testis__title {
    @include font($font: $garamond, $size: 60px, $lh: normal, $color: $primary);
}

.home {
    height: 1836px;
    width: 1570px;
    margin: 0 auto;

    h3 {
        text-align: center;
        @include font(
            $font: $montReg, 
            $size: 36px, 
            $lh: normal, 
            $color: $primary
        );
    }
}

