nav.flex.flex-jc-sb.flex-ai-c
        .header__logo.flex.flex-jc-c.flex-fd-col.flex-ai-c
            h1.header__logo__title LUXURY
            p.header__logo__subtitle HOTELS
        ul.header__links.flex.flex-jc-sb
            li
                a.header__links__link(href="/") Home
            li
                a.header__links__link(href="/facilities.html") Facilities
            li
                a.header__links__link(href="/rooms.html") Rooms
            li
                a.header__links__link(href="/contact-us.html") Contact-us