&__form {

    & label {
        @include font($font: Arial, $size: 25px, $lh: 40px, $color: $primary);
    }
    & input {
        border-color: $primary30;
        width: 570px;
        height: 78px;
    }
    & textarea {
        border: 2px solid $primary30;
    }
    & button {
        align-self: flex-end;
        width: 145px;
        height: 78px;
        border: none;
        border-radius: 10px;
        margin-top: 52px;
        background-color: $secondary;
        @include font($font: $montBold, $size: 25px, $lh: normal, $color: $white);
    }
}